*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(201, 201, 179);
    background-size: cover;
    background-position: center;
    cursor: url("../image/cursorLogo.png"), auto;
}


.navHeader{
    position: relative;
    top:0;
    left:0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 2px solid lightslategrey;
    box-shadow:
            0 0 20px antiquewhite, /* More depth */
            inset 0 0 10px dimgrey, /* Inner shadow */
            inset 0 0 40px dimgrey;
}

.navBar-Column a{
    cursor: url("../image/cursorClickableLogo.png"), auto;
    position: relative;
    /*font-family: Arial, cursive;*/
    font-size: 30px;
    color: black;
    font-weight: 500;
    margin-left: 40px;

}

.navBar-Column a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:  black;
    transition: .3s;
}

.navBar-Column a:hover::before{
    width: 100%;
}

.navBar-Logo{

    width: 30%;
    height: 200px;
    float: left;

}

.wustlLogo{
    cursor: url("../image/cursorClickableLogo.png"), auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navBar-Column{
    float: right;
    width: 70%;
    height: 200px;
    padding:10px;
    top: 50%;
}

.navBar-ColumnInner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer {
    margin-top: 3px;
    position: relative; /* Fixed positioning ensures the footer stays at the bottom */
    bottom: 0; /* Aligns the footer to the bottom of the page */
    height: 4vh; /* Sets the height of your footer */
    width: 100%; /* Ensures the footer stretches across the entire width of the viewport */
    background-color: #F5F5DC;

    border: 2px solid lightslategrey;
    box-shadow:
            0 0 20px antiquewhite, /* More depth */
            inset 0 0 10px dimgrey, /* Inner shadow */
            inset 0 0 11px dimgrey;
}

hr {
    border: 0;
    height: 2px;
    /*background: #333; !* Dark grey line *!*/
    background-image: linear-gradient(#ccc, #333, #ccc); /* Gradient line */
}

.text-content {
    flex-grow: 1;
}

.washUBearLogo{
    flex-shrink: 0;
    width: auto; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
    max-width: 200px;
    padding-right: 5px;
}

.blueHenLogo{
    flex-shrink: 0;
    width: auto; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
    max-width: 200px;
    padding-top:10px;
    padding-right: 5px;
}

#imageContainer {
    position: relative;
    width: 100%; /* or a fixed width */
    height: 500px; /* or a fixed height */
    overflow: hidden; /* Hides any part of the image that overflows */
    background-color: #4b4b4b; /* Example of a light dark color */
}
.dynamic-image {
    position: absolute;
    max-width: 100%; /* Ensures images do not exceed container width */
    max-height: 100%; /* Ensures images do not exceed container height */
    /* other styles */
}



