* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(201, 201, 179);
    background-size: cover;
    background-position: center;
    cursor: url("../image/cursorLogo.png"), auto;


}

.entireWeb {
    display: flex; /* This will create a flex container */
    flex-direction: column; /* This will stack the children vertically */
    min-height: 100vh;
    width: 100%; /* Adjust the width as needed */
}
.navBar-Column a {
    cursor: url("../image/cursorClickableLogo.png"), auto;
    position: relative;
    /*font-family: Arial, cursive;*/
    font-size: 30px;
    color: black;
    font-weight: 500;
    margin-left: 40px;

}
.navBar-Column a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}
.navBar-Column a:hover::before {
    width: 100%;
}
.navBar-Logo {

    width: 30%;
    height: 200px;
    float: left;

}
.wustlLogo {
    cursor: url("../image/cursorClickableLogo.png"), auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navBar-Column {
    float: right;
    width: 70%;
    height: 200px;
    padding: 10px;
    top: 50%;
}
.navBar-ColumnInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navHeader{
    position: relative;
    top:0;
    left:0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 2px solid lightslategrey;
    box-shadow:
            0 0 20px antiquewhite, /* More depth */
            inset 0 0 10px dimgrey, /* Inner shadow */
            inset 0 0 40px dimgrey;
}



.projectGraph{
    width: 100%;
    height: auto;
    overflow: hidden; /* Ensures the image does not spill out of the container */

}
.projectGraph img{
    margin:0;
    width: 100%;
    height: 100%;
    object-fit: contain;}


.projectTitle {

    /*display: inline-block;*/
    padding: 10px 20px;
    margin: 5px;
    background-color: lightslategray;

    text-align: center;

    cursor: url("../image/cursorClickableLogo.png"), auto;

    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    transition: background-color 0.5s;

    box-shadow: 0 5px #666;
    transform: perspective(1px) translateZ(0);

    animation: pulse 2s infinite;
}

a.projectTitle{
    text-decoration: none;
}

/*Set Annimation for project title*/
@keyframes pulse {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.0); }
}

.projectTitle:hover {
    background-color: burlywood;
}

section {
    border: 1px solid #000;
    margin: 10px;
    padding: 20px;
    width: calc(100% - 40px); /* Adjust width based on padding */
}

.project{
    display: flex;
    justify-content: space-around; /* This will space out the divs evenly */
}

.project > .card {

    margin: 5px; /* Spacing around each div */
    padding: 1px; /* Padding inside each div */
    border: 5px solid slategray; /* Border for visual separation */

}

.card {
    width: 20%;
    position: relative;
    padding: 20px;
    border: 10px solid #000;

    margin-bottom: 50px; /* Add bottom margin to make room for the bubble */
}

.bubble {
    position: absolute;
    top: 100%; /* Position the bubble below the card */
    left:50%;
    transform: translateX(-50%);
    visibility: hidden;
    width: 40vh;
    background-color: #f9f9f9;
    color: #555;
    text-align: center;
    border-radius: 8px;
    padding: 5px 10px;
    /* Hide the bubble using opacity */
    opacity: 0;
    /* Transition for the bubble */
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 10;
    /*margin-left: 20px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    border: 3px solid #ddd; /* Subtle border */
}


.card:hover .bubble {
    /* Show the bubble when hovering */
    visibility: visible;
    opacity: 1;
}

.footer {
    margin-top: 3px;
    position: relative; /* Fixed positioning ensures the footer stays at the bottom */
    bottom: 0; /* Aligns the footer to the bottom of the page */
    height: 4vh; /* Sets the height of your footer */
    width: 100%; /* Ensures the footer stretches across the entire width of the viewport */
    background-color: #F5F5DC;

    border: 2px solid lightslategrey;
    box-shadow: 0 0 20px antiquewhite, /* More depth */ inset 0 0 10px dimgrey, /* Inner shadow */ inset 0 0 11px dimgrey;
}
