*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: "Poppins",sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(201, 201, 179);
  background-size: cover;
  background-position: center;
}

.entireWeb {
  display: flex; /* This will create a flex container */
  flex-direction: column; /* This will stack the children vertically */
  min-height: 100vh;
  width: 100%; /* Adjust the width as needed */
}

.header, .main, .footer {
  width: 100%;
}


.navHeader{
  position: relative;
  top:0;
  left:0;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border: 2px solid lightslategrey;
  box-shadow:
          0 0 20px antiquewhite, /* More depth */
          inset 0 0 10px dimgrey, /* Inner shadow */
          inset 0 0 40px dimgrey;
}

.navBar-Column a{
  position: relative;
  /*font-family: Arial, cursive;*/
  font-size: 30px;
  color: black;
  font-weight: 500;
  margin-left: 40px;

}

.navBar-Column a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background:  black;
  transition: .3s;
}

.navBar-Column a:hover::before{
  width: 100%;
}

.navBar-Logo{

  width: 30%;
  height: 200px;
  float: left;

}

.wustlLogo{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navBar-Column{
  float: right;
  width: 70%;
  height: 200px;
  padding:10px;
  top: 50%;
}

.navBar-ColumnInner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  overflow: auto;
  padding-bottom: 2vh;
  /*background-color: #A49A87;*/
  flex:1;
  margin-top: 3px;
  /*background: linear-gradient(to right, #A49A87 50%, #A49A89 50%);*/
}

.mainLeftPart {
  width: 48%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 1); /* Adds a subtle shadow to the right */
  padding-top: 10vh;
  padding-left: 10%;
}

.mainRightPart {
  width: 62%;
  border-left: 3px solid #dcdcdc; /* Adds a subtle line separator */
  padding-left: 20px;
}


.footer {
  margin-top: 3px;
  position: relative; /* Fixed positioning ensures the footer stays at the bottom */
  bottom: 0; /* Aligns the footer to the bottom of the page */
  height: 4vh; /* Sets the height of your footer */
  width: 100%; /* Ensures the footer stretches across the entire width of the viewport */
  background-color: #F5F5DC;

  border: 2px solid lightslategrey;
  box-shadow:
          0 0 20px antiquewhite, /* More depth */
          inset 0 0 10px dimgrey, /* Inner shadow */
          inset 0 0 11px dimgrey;
}

hr {
  border: 0;
  height: 2px;
  /*background: #333; !* Dark grey line *!*/
  background-image: linear-gradient(#ccc, #333, #ccc); /* Gradient line */
}

.authorAvatar img {
  width: 25vw; /* 10% of the viewport's width */
  height: auto;
}

.authorConnectionWrap .fab.fa-linkedin {
  font-size: 40px; /* or any other size. You can also use em, rem, %, etc. */
  color: #0077B5; /* LinkedIn brand color, you can change it as you like */
}

.authorConnectionWrap .fab.fa-github {
  font-size: 40px; /* or any other size. You can also use em, rem, %, etc. */
  color: rebeccapurple; /* LinkedIn brand color, you can change it as you like */
}


.masterTxt {
  font-size: 30px; /* Adjust as needed */
  background: linear-gradient( to bottom, red 30%, green 70%); /* Adjust the percentage to control the transition point */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bachelorTxt {
  font-size: 30px; /* Adjust as needed */
  background: linear-gradient(to bottom ,blue 30%, yellow 70%); /* Adjust the percentage to control the transition point */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.academicSection {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 20px; /* Adjust the space between the text and the image */
}

.text-content {
  flex-grow: 1;
}

.washUBearLogo{
  flex-shrink: 0;
  width: auto; /* Adjust the width as needed */
  height: auto; /* Keeps the aspect ratio of the image */
  max-width: 200px;
  padding-right: 5px;
}

.blueHenLogo{
   flex-shrink: 0;
   width: auto; /* Adjust the width as needed */
   height: auto; /* Keeps the aspect ratio of the image */
   max-width: 200px;
   padding-top:10px;
   padding-right: 5px;
 }
